---
layout: polymer
---
{% assign basicposts = site.categories.blogpost | where: "difficulty", "basic" %}
{% assign advancedposts = site.categories.blogpost | where: "difficulty", "advanced" %}
    <div class="layout horizontal">
        <div class="layout vertical center full-width">
            <div class="align-center" class="column">
                <div class="title"><h3>Welcome to community.nauts.io!</h3></div>
                <div class="excerpt">We are <a href="http://nauts.io/">Nauts.io</a>, <a href="https://xebia.com">Xebia</a>'s data center automation experts.
                <br>We believe in sharing knowledge as much as we believe in codified, immutable infrastructure. Here's our take on data center automation as well as links to interesting articles written by the data center automation communities. Enjoy!</p></div>
            </div>
        </div>
    </div>
    <div class="layout horizontal center-justified wrap">
        <div class="layout vertical column">
            <div class="align-center"><h1 id="sharing-knowledge">Sharing knowledge</h1></div>
            {% for post in basicposts %}
                    {% include post.html %}
            {% endfor %}
        </div>
        <div class="layout vertical column">
            <div class="align-center"><h1 id="sharing-knowledge">Sharing knowledge</h1></div>
            {% for post in advancedposts %}
                    {% include post.html %}
            {% endfor %}
        </div>
        <div class="layout vertical column">
            <div class="align-center"><h1>Try it yourself</h1></div>
            {% for post in site.categories.workshop %}
                {% include post.html %}
            {% endfor %}
        </div>
       <div class="layout vertical column">
            <div class="align-center"><h1>Calendar</h1></div>
            {% for post in site.categories.calendar reversed %}
                {% include post.html post-type='calendar' %}
            {% endfor %}
        </div>
    </div>
    <div class="layout horizontal black-on-grey">
        <div class="layout vertical full-width">
            <div class="align-center"><h1>partners</h1></div>
            <div class="layout horizontal wrap">
                {% for post in site.partner %}
                <div class="layout vertical column align-center hide-card square-header-img">
                    {% include post.html post-type='partner' %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="layout horizontal">
        <div class="layout vertical full-width">
            <div class="align-center"><h1>services</h1></div>
            <div class="layout horizontal wrap">
                {% for post in site.services %}
                <div class="layout vertical column align-center hide-card square-header-img">
                    {% include post.html post-type='partner' %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
