<!-- Expertise Section -->
    <section id="overview" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <h2 id="sharing-knowledge">Sharing knowledge</h2>
                    {% for post in site.categories.posts %}
                    <div>
                        <a href="{{ post.externalurl }}"><h4 class="text-muted">{{ post.title }}</h4></a>
                         {{ post.category | capitalize }} about {% for tag in post.tags %}{{ tag }}{% if forloop.last == false %}, {% endif %}{% endfor %} by {{ post.author }}
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-4 col-sm-4">
                    <h2 id="upcoming-events">Calendar</h2>
                    {% for post in site.categories.calendar %}
                    <div class="event">
                        <div class="event-details">
                            <div class="event-date">
                                <span class="fa-stack fa-2x"><i class="fa fa-calendar-o fa-stack-2x"></i><strong class="fa-stack-1x calendar-text">{{ post.date | date: "%d" }}</strong></span>
                            </div>
                            <div class="event-description">
                                <a href="{{ post.externalurl }}"><h4 class="text-muted">{{ post.title }}</h4></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>