<paper-card class="fancy">
    {% if post.img %}<img src="/assets/img/header/{{ post.img }}.png">{% endif %}
    <div class="card-content">
        <div class="title">
            <div class="medium"><a href="{{ post.externalurl }}"><span>{{ post.title }}</span></a></div>
            <div class="small">{% if include.post-type == 'calendar' %}{{ post.date | date: "%-d %B %Y" | downcase }}{% else %}{{ post.author }}{% endif %}</div>
        </div>
        <div class="excerpt">{{ post.excerpt }}</div>
    </div>
    <div class="card-actions">
        {% for tag in post.tags %}<div class="devops-font"><i title="{{ tag | capitalize }}" class="icon-{{ tag }}"></i></div>{% endfor %}
    </div>
</paper-card>
