body {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
}

h1 {
    font-weight: 100;
    text-transform: uppercase;
}

a {
    color: #FED136;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

a span {
    color: #00b3fe;
    text-decoration: none;
}

#topBar {
    padding-left: 30px;
}

.column {
    min-width: 360px;
    max-width: 360px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.column-title {
    text-align: center;
}

paper-card {
  width: 100%;
  margin-bottom: 16px;
  background-color: whitesmoke;
}

.avatar {
  display: inline-block;
  height: 64px;
  width: 64px;
  background-size: 100%;
}
.docker {
  background-image: url(/assets/img/naut_blue_small.png);
}
.mesos {
  background-image: url(/assets/img/naut_yellow_small.png);
}
.coreos {
  background-image: url(/assets/img/naut_orange_small.png);
}
.consul, .terraform {
  background-image: url(/assets/img/naut_red_small.png);
}

/*.fancy .title {
  position: absolute;
  top: 16px;
  left: 100px;
}*/
paper-card img {
  width: 100%;
  background-color: #00b3fe;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255,255,255, 0.2) 25%, rgba(255,255,255, 0.2) 26%, transparent 27%, transparent 74%, rgba(255,255,255, 0.2) 75%, rgba(255,255,255, 0.2) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255,255,255, 0.2) 25%, rgba(255,255,255, 0.2) 26%, transparent 27%, transparent 74%, rgba(255,255,255, 0.2) 75%, rgba(255,255,255, 0.2) 76%, transparent 77%, transparent);
  background-size: 50px 50px;
}
paper-card .title .medium {
  font-size: 19px;
  text-transform: uppercase;
  padding-bottom: 8px;
  color: #00b3fe;
}
paper-card .title .small {
  font-size: 13px;
}
paper-card .excerpt {
  font-size: 15px;
}
.devops-font {
  width: 24px;
  height: 24px;
  font-size: 18px;
  padding: 11px;
  display: inline-block;
}
